*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 24px;
}
body{
    background-image: url(bg.gif);
    background-size: cover;
    overflow: hidden;
    color: whitesmoke;
}
.banner{
    width: 100%;
    height: 100px;
    background-color: none;
    display: flex;
    justify-content: space-between;
}
.banner button{
    position: absolute;
    top: 30px;
    left: 70%;
    color: whitesmoke;
    background: none;
    padding: 8px;
    border: 3px;
    border-width: 2px;
    border-radius: 5px;
    border-color: whitesmoke;
    border-style: solid;
}
.banner button:hover{
    background-color: dimgrey;
    cursor: pointer;
}
.banner img{
    width: 100px;
    height: 100px;
}
nav a{
    color: whitesmoke;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}
nav{
    float: right;
    line-height: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 880px) {
    body{
        background-image: url(mobilebg.jpeg);
    }
    .banner{
        width: 100%;
        height: 70px;
        background-color: none;
        display: flex;
        justify-content: space-between;
    }
    .banner img{
        height: 40px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 10px;
    }
    .banner button{
        height: 0;
        width: 0;
        border: 0;
        font-size: 0;
    }
    nav a{
        color: whitesmoke;
        font-size: medium;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        left: 50px;
    }
    .home{
        font-size: 0;
    }
}
